:root {
    --azul-void: #01080E;
    --azul-escuro: #041832;
    --azul-medio: #144480;
    --azul-neon: #2BDEFD;
    --play-hover: #2EBED7;
    --cinza-cards: #c4c4c43b;
    --cinza: #c4c4c4;
    --branco: #FFFFFF;
    --azul-gradiente: linear-gradient(60deg, rgba(7,32,65,1) 0%, rgba(21,69,128,1) 100%);

    --familia-corpo: 'Open Sans', sans-serif;

    --peso-destaque: 700;
    --peso-titulo: 500;
    --peso-texto: 400;
    --peso-light: 300;

    /* -- H1 -- */
    --tamanho-titulo-destaque: 1.75rem;
    /* -- H2 -- */
    --tamanho-titulo: 1.25rem;
    /* -- Body -- */
    --tamanho-corpo: 1rem;
    /* -- Caption -- */
    --tamanho-caption: .875rem;
}

body{
    font-family: var(--familia-corpo);
}

.container{
    display: flex;
    margin: 0 auto;
}

.row{
    background-color: var(--azul-escuro);
}

.aside{
    background-color: var(--azul-void);
    padding: 2rem;
    width: 228px;
}

.aside_logo{
    margin-bottom: 40px;
}

.aside_links{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.aside_links > ul > li{
    margin: 24px 0;
    display: flex;
}

.aside_links > ul > li > a{
    color: var(--branco);
    text-decoration: none;
    font-size: 1rem;
    margin-left: 16px;
    align-self: center;
}

.aside_links > p{
    color: var(--branco);
    margin: 24px 0px 0px 0px;
    font-weight: var(--peso-destaque);
}

.main{
    background: var(--azul-gradiente);
    padding: 2rem;
    width: 100%;
}

.main_setas{
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
}

.main_setas > img{
    width: 24px;
}

.main_tocados_recente > p{
    font-size: 1.75rem;
    color: var(--branco);
    font-weight: 700;
}

.main_tocados_recente_cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.main_tocados_recente_card{
    background-color: var(--cinza-cards);
    border-radius: 8px;
    width: 340px;
    display: flex;
}

.main_tocados_recente_card-imagem{
    width: 72px;
    border-radius: 8px;
}

.main_tocados_recente_card-titulo-barra{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--branco);
    width: 276px;
    padding: 10px 10px 10px 16px;
}

.main_tocados_recente_card-titulo-barra > hr{
    border: 2px solid var(--branco);
    width: 98%;
    border-radius: 10px;
}

.main_tocados_recente_card-botao-play{
    width: 48px;
    padding-right: 16px;
    /* margin: 0 auto; */
    /* align-items: end; */
}

/* ---------- FOOTER ---------- */
.footer{
    color: var(--branco);
    background-color: var(--azul-escuro);
}

.container_footer{
    display: flex;
    margin: 0 auto;
    background-color: lightseagreen;
}

.footer_conteudo{
    padding: 2rem;

}




/* ---------- RESPONSIVIDADE ----------- */
@media all and (max-width: 480px) { }

@media all and (min-width: 480px) and (max-width: 768px) { }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 1024px) and (max-width: 1366px) { }

@media all and (min-width: 1366px) {
    .container, .container_footer{
        width: 1366px;
    }
}